<footer class="footer bg-body-tertiary bs-body-bg pt-4 mt-auto">
   <div class="container">
      <div class="row">
         <div class="col-md-4">
            <h5>About Me</h5>
            <p>
               Hi. These are my/this project's socials. <br />
               <i class="bi bi-instagram"></i>
               <a class="icon-link" href="https://instagram.com/jesper.mhl"
                  >&#64;jesper.mhl <i class="bi bi-box-arrow-up-right"></i
               ></a>
               <br />
               <i class="bi bi-github"></i>
               <a class="icon-link" href="https://github.com/k1nsej/SimsInfo">
                  k1nsej/SimsInfo <i class="bi bi-box-arrow-up-right"></i>
               </a>
               <br />
               <i class="bi bi-twitter-x"></i>
               <a class="icon-link" href="https://x.com/SimsInfoHub">
                  @SimsInfoHub
               </a>
            </p>
         </div>
         <div class="col-md-4">
            <h5>Legal</h5>
            <ul class="list-unstyled">
               <li><a href="/imprint/">Imprint</a></li>
               <li><a href="/privacypolicy/">Privacy Policy</a></li>
            </ul>
         </div>
         <div class="col-md-4">
            <h5>Contact Me</h5>
            <address>
               Email:
               <a href="mailto:jesper@simsinfohub.com"
                  >jesper&#64;simsinfohub.com</a
               ><br />
               Phone: <a href="tel:004915678766290">+49 15678 766290</a>
            </address>
         </div>
      </div>
      <div class="row mt-3">
         <div class="col text-center">
            <p>&copy; 2024 Jesper Mahel. All rights reserved.</p>
            <p>
               This website is not endorsed by or affiliated with Electronic
               Arts Inc. ("EA") or its licensors. Find out more
               <a href="/disclaimers/eaendorsment/">here</a>.
            </p>
            <p>
               This website provides links to other websites for the convenience
               of its users. These external sites are not managed by this
               website. Find out more
               <a href="/disclaimers/externallinks/">here</a>.
            </p>
         </div>
      </div>
   </div>
</footer>