<footer class="footer bg-body-tertiary bs-body-bg pt-4 mt-auto" >
   <div class="container">
      <div class="row">
         <div class="col-md-4">
            <h5>About Me</h5>
            <p>
               Hi. I don't know what to write here. <br />
               Instagram:
               <a href="https://instagram.com/jesper.mhl">&#64;jesper.mhl</a>
            </p>
         </div>
         <div class="col-md-4">
            <h5>Legal</h5>
            <ul class="list-unstyled">
               <li><a href="/imprint/">Imprint</a></li>
               <li><a href="#">Privacy Policy</a></li>
            </ul>
         </div>
         <div class="col-md-4">
            <h5>Contact Me</h5>
            <address>
               Email: jesper&#64;simsinfohub.com<br />
               Phone: +49 15678 766290
            </address>
         </div>
      </div>
      <div class="row mt-3">
         <div class="col text-center">
            <p>&copy; 2024 Jesper Mahel. All rights reserved.</p>
            <p>
               This website is not endorsed by or affiliated with Electronic
               Arts Inc. ("EA") or its licensors. Find out more
               <a href="/eaendorsment/">here</a>.
            </p>
         </div>
      </div>
   </div>
</footer>