<footer class="footer bg-body-tertiary bs-body-bg pt-4">
   <div class="container">
      <div class="row">
         <div class="col-md-4">
            <h5>About Me</h5>
            <p>
               Hi. I don't know what to write here. <br />
               Instagram:
               <a href="https://instagram.com/jesper.mhl">&#64;jesper.mhl</a>
            </p>
         </div>
         <div class="col-md-4">
            <h5>Legal</h5>
            <ul class="list-unstyled">
               <li><a href="#">Imprint</a></li>
               <li><a href="#">Privacy Policy</a></li>
            </ul>
         </div>
         <div class="col-md-4">
            <h5>Contact Me</h5>
            <address>
               Email: slicers_latent0c&#64;icloud.com<br />
               Phone: +49 15678 766290
            </address>
         </div>
      </div>
      <div class="row mt-3">
         <div class="col text-center">
            <p>&copy; 2024 Jesper Mahel. All rights reserved.</p>
            <p>
               This website is not endorsed by or affiliated with Electronic
               Arts Inc. ("EA") or its licensors. Find out more
               <a href="/eaendorsment/">here</a>.
            </p>
            <!-- EA Disclaimer Page Text
            <p>
               This website is not endorsed by or affiliated with Electronic
               Arts Inc. ("EA") or its licensors. All trademarks, service marks,
               trade names, product names, logos, and trade dress appearing on
               this website are the property of their respective owners,
               including EA. While we acknowledge EA's contributions to the
               gaming industry and may discuss EA's products, this website is an
               independent endeavor created by a team of passionate individuals
               dedicated to gaming excellence.
            </p>

            <p>
               Any opinions expressed herein are solely those of the
               contributors to this website and do not necessarily reflect the
               views of EA.
            </p>

            <p>
               Reference to EA, its products, or services does not imply
               endorsement, sponsorship, or recommendation by EA. We do not
               claim to represent EA or act on its behalf. For official
               information about EA and its products, please visit
               <a href="https://www.ea.com">www.ea.com</a>.
            </p>
            -->
         </div>
      </div>
   </div>
</footer>