<nav class="navbar fixed-top navbar-expand-lg bg-body-tertiary">
   <div class="container-fluid">
      <a class="navbar-brand" href="/">
         <img src="/static/images/icon/TS4_Logo_Plumbob.png" height="45px" alt="Sims 4 Plumbob" />
      </a>
      <button
         class="navbar-toggler"
         type="button"
         data-bs-toggle="collapse"
         data-bs-target="#navbarNav"
         aria-controls="navbarNav"
         aria-expanded="false"
         aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
         <ul class="navbar-nav">
            <li class="nav-item">
               <a id="homeLink" class="nav-link" href="/"> Home </a>
            </li>
            <!--<li class="nav-item">
               <a id="aboutLink" class="nav-link" href="/aboutme/">About Me</a>
            </li>-->
            <li class="nav-item">
               <a id="homeLink" class="nav-link" href="/contact/"> Contact </a>
            </li>
            <li class="nav-item">
               <a id="colophonLink" class="nav-link" href="/colophon/">Colophon</a>
            </li>
            <li class="nav-item dropdown">
               <a
                  id="challengesLink"
                  class="nav-link dropdown-toggle"
                  href="#"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false">
                  Challenges
               </a>
               <ul class="dropdown-menu">
                  <!--<li>
                     <a id="nsbLink" class="dropdown-item" href="/notsoberry/"
                        >Not so Berry</a
                     >
                  </li>-->
                  <li>
                     <a id="rtrLink" class="dropdown-item" href="/ragstoriches/"
                        >Rags to Riches</a
                     >
                  </li>
               </ul>
            </li>
            <!--<li class="nav-item dropdown">
               <a
                  id="expansionPacksLink"
                  class="nav-link dropdown-toggle"
                  href="/expansionpacks/"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false">
                  Expansion Packs
               </a>
               <ul class="dropdown-menu">
                  <li>
                     <a id="forRentLink" class="dropdown-item" href="/forrent/"
                        >For Rent</a
                     >
                  </li>
                  <li>
                     <a id="horseRanchLink" class="dropdown-item" href="/horseranch/"
                        >Horse Ranch</a
                     >
                  </li>
                  <li>
                     <a id="growingTogetherLink" class="dropdown-item" href="/growingtogether/"
                        >Growing Together</a
                     >
                  </li>
                  <li>
                     <a id="highSchoolYearsLink" class="dropdown-item" href="/highschoolyears/"
                        >High School Years</a
                     >
                  </li>
                  <li>
                     <a id="cottageLivingLink" class="dropdown-item" href="/cottageliving/"
                        >Cottage Living</a
                     >
                  </li>
                  <li>
                     <a id="snowyEscapeLink" class="dropdown-item" href="/snowyescape/"
                        >Snowy Escape</a
                     >
                  </li>
                  <li>
                     <a id="ecoLifestyleLink" class="dropdown-item" href="/ecolifestyle/"
                        >Eco Lifestyle</a
                     >
                  </li>
                  <li>
                     <a
                        id="discoverUniversityLink"
                        class="dropdown-item"
                        href="/discoveruniversity/"
                        >Discover University</a
                     >
                  </li>
                  <li>
                     <a id="islandLivingLink" class="dropdown-item" href="/islandliving/"
                        >Island Living</a
                     >
                  </li>
                  <li>
                     <a id="getFamousLink" class="dropdown-item" href="/getfamous/"
                        >Get Famous</a
                     >
                  </li>
                  <li>
                     <a id="seasonsLink" class="dropdown-item" href="/seasons/"
                        >Seasons</a
                     >
                  </li>
                  <li>
                     <a id="catsDogsLink" class="dropdown-item" href="/catsanddogs/"
                        >Cats & Dogs</a
                     >
                  </li>
                  <li>
                     <a id="cityLivingLink" class="dropdown-item" href="/cityliving/"
                        >City Living</a
                     >
                  </li>
                  <li>
                     <a id="getTogetherLink" class="dropdown-item" href="/gettogether/"
                        >Get Together</a
                     >
                  </li>
                  <li>
                     <a id="getToWorkLink" class="dropdown-item" href="/gettowork/"
                        >Get to Work</a
                     >
                  </li>
               </ul>
            </li>
            <li class="nav-item dropdown">
               <a
                  id="gamePacksLink"
                  class="nav-link dropdown-toggle"
                  href="#"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false">
                  Game Packs
               </a>
               <ul class="dropdown-menu">
                  <li>
                     <a id="werevolvesLink" class="dropdown-item" href="#"
                        >Werevolves</a
                     >
                  </li>
                  <li>
                     <a id="weddingStoriesLink" class="dropdown-item" href="#"
                        >My Wedding Stories</a
                     >
                  </li>
                  <li>
                     <a
                        id="dreamHomeDecoratorLink"
                        class="dropdown-item"
                        href="#"
                        >Dream Home Decorator</a
                     >
                  </li>
                  <li>
                     <a id="journeyToBatuuLink" class="dropdown-item" href="#"
                        >Journey to Batuu</a
                     >
                  </li>
                  <li>
                     <a id="realmOfMagicLink" class="dropdown-item" href="#"
                        >Realm of Magic</a
                     >
                  </li>
                  <li>
                     <a id="strangerVilleLink" class="dropdown-item" href="#"
                        >StrangerVille</a
                     >
                  </li>
                  <li>
                     <a id="jungleAdventureLink" class="dropdown-item" href="#"
                        >Jungle Adventure</a
                     >
                  </li>
                  <li>
                     <a id="parenthoodLink" class="dropdown-item" href="#"
                        >Parenthood</a
                     >
                  </li>
                  <li>
                     <a id="vampiresLink" class="dropdown-item" href="#"
                        >Vampires</a
                     >
                  </li>
                  <li>
                     <a id="dineOutLink" class="dropdown-item" href="#"
                        >Dine Out</a
                     >
                  </li>
                  <li>
                     <a id="spaDayLink" class="dropdown-item" href="#"
                        >Spa Day</a
                     >
                  </li>
                  <li>
                     <a id="outdoorRetreatLink" class="dropdown-item" href="#"
                        >Outdoor Retreat</a
                     >
                  </li>
               </ul>
            </li>

            <li class="nav-item dropdown">
               <a
                  id="stuffPacksLink"
                  class="nav-link dropdown-toggle"
                  href="#"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false">
                  Stuff Packs
               </a>
               <ul class="dropdown-menu">
                  <li>
                     <a id="crystalCreationsLink" class="dropdown-item" href="#"
                        >Crystal Creations</a
                     >
                  </li>
                  <li>
                     <a id="homeChefHustleLink" class="dropdown-item" href="#"
                        >Home Chef Hustle</a
                     >
                  </li>
                  <li>
                     <a id="paranormalLink" class="dropdown-item" href="#"
                        >Paranormal</a
                     >
                  </li>
                  <li>
                     <a id="niftyKnittingLink" class="dropdown-item" href="#"
                        >Nifty Knitting</a
                     >
                  </li>
                  <li>
                     <a id="tinyLivingLink" class="dropdown-item" href="#"
                        >Tiny Living</a
                     >
                  </li>
                  <li>
                     <a id="moschinoLink" class="dropdown-item" href="#"
                        >Moschino</a
                     >
                  </li>
                  <li>
                     <a id="myFirstPetLink" class="dropdown-item" href="#"
                        >My First Pet</a
                     >
                  </li>
                  <li>
                     <a id="laundryDayLink" class="dropdown-item" href="#"
                        >Laundry Day</a
                     >
                  </li>
                  <li>
                     <a id="toddlerLink" class="dropdown-item" href="#"
                        >Toddler</a
                     >
                  </li>
                  <li>
                     <a id="fitnessLink" class="dropdown-item" href="#"
                        >Fitness</a
                     >
                  </li>
                  <li>
                     <a id="bowlingNightLink" class="dropdown-item" href="#"
                        >Bowling Night</a
                     >
                  </li>
                  <li>
                     <a id="vintageGlamourLink" class="dropdown-item" href="#"
                        >Vintage Glamour</a
                     >
                  </li>
                  <li>
                     <a id="backyardLink" class="dropdown-item" href="#"
                        >Backyard</a
                     >
                  </li>
                  <li>
                     <a id="kidsRoomLink" class="dropdown-item" href="#"
                        >Kids Room</a
                     >
                  </li>
                  <li>
                     <a id="romanticGardenLink" class="dropdown-item" href="#"
                        >Romantic Garden</a
                     >
                  </li>
                  <li>
                     <a id="movieHangoutLink" class="dropdown-item" href="#"
                        >Movie Hangout</a
                     >
                  </li>
                  <li>
                     <a id="spookyLink" class="dropdown-item" href="#"
                        >Spooky</a
                     >
                  </li>
                  <li>
                     <a id="coolKitchenLink" class="dropdown-item" href="#"
                        >Cool Kitchen</a
                     >
                  </li>
                  <li>
                     <a id="perfectPatioLink" class="dropdown-item" href="#"
                        >Perfect Patio</a
                     >
                  </li>
                  <li>
                     <a id="luxuryPartyLink" class="dropdown-item" href="#"
                        >Luxury Party</a
                     >
                  </li>
               </ul>
            </li>-->
         </ul>
      </div>
   </div>
</nav>